<h2>Aantal kaarten in ons assortiment</h2>

<% for(let i=0 ;i<cards.length;i++){%>
  <article>
    <% if(i<4){%>

      <img src="<%= cards[i].imageUrl %>" alt="Pokémon kaart">



      <%}%>
  </article>
  <%}%>
    </main>
    </body>

    </html>