</body>
<footer>
  <p> 2025 - cédric. Alle rechten voorbehouden.</p>
  <p>Dit is een niet-officieel fan-project voor educatieve doeleinden. Pokémon en alle gerelateerde namen zijn eigendom
    van The Pokémon Company.</p>
</footer>

</html>