<nav>
  <h2>Menu</h2>
  <ul>
    <li>
      <a href="/">PokeHome</a>
    </li>
    <li>
      <a href="/card">Pokemon kaarten</a>
    </li>
    <li>
      <a href="/box">Pokemon dozen</a>
    </li>
  </ul>
</nav>